.fixed-logotype {
  --logoText: #000;

  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 100;
  display: block;
  width: fit-content;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--logoText);
  transition: color $transition-fast;
  &:hover {
    color: var(--logoText);
  }
  &[data-theme="white"] {
    --logoText: #000;
  }
  &[data-theme="black"] {
    --logoText: #fff;
  }

  @media screen and (max-width: 767px) {
    left: 8px;
    bottom: 30px;
  }
}
