<!-- header -->
<header class="header" id="header">
  <div class="header__wrapper">
    <div class="header__group">
      <ul class="header__list header__list--mobile">
        <li class="header__item header__item--active">
          <a href="#" class="header__elem" id="menu-toggle">menu</a>
        </li>
        <li class="header__item header__item--active">
          <a href="#" class="header__elem">Ru</a>
        </li>
        <li class="header__item">
          <a href="#" class="header__elem">En</a>
        </li>
      </ul>
      <ul class="header__list header__list--desktop">
        <li class="header__item @@works">
          <a href="works.html" class="header__elem">works</a>
        </li>
        <li class="header__item @@studio">
          <a href="#" class="header__elem">studio</a>
        </li>
        <li class="header__item @@matching">
          <a href="matching.html" class="header__elem">Do we match?</a>
        </li>
        <li class="header__item @@contacts">
          <a href="contacts.html" class="header__elem">contact us</a>
        </li>
        <li class="header__item">
          <span class="header__elem">2005⏤2022</span>
        </li>
        <li class="header__item">
          <span class="header__elem">Moscow</span>
        </li>
        <li class="header__item header__item--active">
          <a href="#" class="header__elem">Ru</a>
        </li>
        <li class="header__item">
          <a href="#" class="header__elem">En</a>
        </li>
        <li class="header__item">
          <a href="#" class="header__elem">Instagram</a>
        </li>
        <li class="header__item">
          <a href="#" class="header__elem">Twitter</a>
        </li>
        <li class="header__item">
          <a href="#" class="header__elem">Rarible</a>
        </li>
      </ul>
    </div>
    <span class="header__page">@@page</span>
  </div>
</header>
<!-- end of header -->