<!-- mobile menu -->
<div class="mobile-menu" id="mobile-menu">
    <div class="mobile-menu__wrapper">
        <div class="mobile-menu__main">
            <ul class="mobile-menu__list">
                <li class="mobile-menu__item">
                    <a href="works.html" class="mobile-menu__link">Works</a>
                </li>
                <li class="mobile-menu__item">
                    <a href="#" class="mobile-menu__link">Studio</a>
                </li>
                <li class="mobile-menu__item">
                    <a href="matching.html" class="mobile-menu__link">Do we match?</a>
                </li>
                <li class="mobile-menu__item">
                    <a href="contacts.html" class="mobile-menu__link">Contact us</a>
                </li>
            </ul>
            <ul class="mobile-menu__list">
                <li class="mobile-menu__item">
                    <span class="mobile-menu__text">2005⏤2022</span>
                </li>
                <li class="mobile-menu__item">
                    <span class="mobile-menu__text">Moscow</span>
                </li>
            </ul>
            <ul class="mobile-menu__list mobile-menu__list--flex">
                <li class="mobile-menu__item mobile-menu__item--active">
                    <a href="#" class="mobile-menu__link">Ru</a>
                </li>
                <li class="mobile-menu__item">
                    <a href="#" class="mobile-menu__link">En</a>
                </li>
            </ul>
            <ul class="mobile-menu__list">
                <li class="mobile-menu__item">
                    <a href="#" class="mobile-menu__link">Instagram</a>
                </li>
                <li class="mobile-menu__item">
                    <a href="#" class="mobile-menu__link">Twitter</a>
                </li>
                <li class="mobile-menu__item">
                    <a href="#" class="mobile-menu__link">Rarible</a>
                </li>
            </ul>
        </div>
        <div class="mobile-menu__bottom">
            <a href="index.html" class="mobile-menu__logotype">Spaaace</a>
            <button class="mobile-menu__close" aria-label="Закрыть">
                <svg class="mobile-menu__close-icon">
                    <use xlink:href="img/sprite.svg#icon-close"></use>
                </svg>
            </a>
        </button>
        </div>
    </div>
</div>
<!-- end of mobile menu -->